#root {
  --BGColor: #414346;
  --InputBGColor: #d9d9d9;
  --InputTextColor: #000000;
  --BtnBGColor: #213183;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: var(--BGColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#the-void {
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 700;
}

#enter-name {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

input {
  background-color: var(--InputBGColor);
}

input:focus {
  outline: none;
}

.nameInput {
  max-width: 400px;
  width: 90%;
  height: 96px;
  border-radius: 8px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--InputTextColor);
  position: relative;
  z-index: 100;
}

.joinBtn {
  background-color: var(--BtnBGColor);
  cursor: pointer;
  max-width: 400px;
  width: 90%;
  height: 96px;
  border-radius: 8px;
  display: block;
  font-weight: 700;
  font-size: 2rem;
  line-height: 96px;
  text-align: center;
  margin-top: 1.25rem;
  position: relative;
  z-index: 100;
}

button {
  position: relative;
  z-index: 100;
}
